.Surface-root {
  position: relative;
  width: 100%;
  height: 100%;
}

.Surface-source, .Surface-overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.Surface-source {
  overflow: hidden;
}

.Surface-overlay {
  z-index: 1;
}